.container {
  padding: 0 2rem;
  background: linear-gradient(to right, rgba(128, 0, 128, 0.3), rgba(0, 255, 255, 0.3)), black; /* More translucent gradient over black background */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  color: white; /* Set font color to white */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  position: relative; /* Position relative for pseudo-elements */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the header horizontally */
  padding-top: 50px; /* Add padding from the top */
  margin-bottom: 2px; /* Lower the header by 2 points */
  width: 100%; /* Ensure the header takes full width */
  position: relative; /* Position relative for absolute positioning of logo */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2px; /* Add spacing below the logo */
  position: absolute;
  left: 50px; /* Padding of 50px from the left margin */
}

.title {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2px; /* Add spacing below the title */
  padding-top: 70px; /* Add padding from the top margin */
  flex-grow: 1; /* Allow title to take remaining space */
}

.main {
  padding: 2rem 0;
}

.rectContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px; /* Padding from the text */
  width: 100%;
}

.rectangle {
  background: linear-gradient(to center, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  width: 22%;
  height: 200px; /* Make the containers bigger */
  margin: 0 1%;
  border-radius: 15px; /* Curved corners */
  border: 2px solid white; /* Defined border */
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 1.5rem;
    padding-top: 0; /* Remove padding for mobile view */
  }

  .logo {
    position: static; /* Reset position for mobile view */
    margin-bottom: 4px; /* Adjust spacing for mobile view */
  }

  .rectContainer {
    flex-direction: column;
    align-items: center;
  }

  .rectangle {
    width: 80%;
    margin: 10px 0;
  }
}
